<!DOCTYPE html>
<html lang="ko">
<head>
    <title>2021 일러스트 연력 판매</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <style type="text/css">
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .all-wrap {
            width: 920px;
            height: 500px;
            margin: auto;
            margin-top: 50px;
        }

        .wrap {
            width: 400px;
            float: right;
        }

        .img {
            background-image: url('https://cdn.happymoonday.com/static/images/notice/notice_201201.png');
            background-size: cover;
            background-position: center;
            width: 500px;
            height: 500px;
            float: left;
        }

        .info {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        h1, h5 {
            display: inline;
        }

        .order {
            text-align: center;
        }

        .input-all-group {
            width: 920px;
            margin: 50px auto;
        }

        .table {
            margin: auto;
            width: 920px;
        }

        .rate {
            color: blue;
        }
    </style>

    <script type="text/javascript">
        function isCellPhone(p) {
            let regExp = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})[-][0-9]{3,4}[-][0-9]{4}$/;
            return regExp.test(p);
        }

        $(document).ready(function () {

            $.ajax({
                type: "GET",
                url: "https://api.manana.kr/exchange/rate.json",
                data: {},
                success: function (response) {
                    // console.log(response)
                    let usdRate = response[1]['rate'];
                    let tempHtml = `달러-원 환율 : ${usdRate}`;
                    $('#show-rate').append(tempHtml)
                    $("#orders-box").html("");
                    showOrder();

                    // let money = response[1]['rate'];
                    // $('americanMoney') = text.(money);
                }
            })
        })

        function makeOrder() {
            let name = $('#order-name').val();
            let count = $('#order-count').val();
            let address = $('#order-address').val();
            let phone = $('#order-phone').val();
            if (name == '') {
                alert('이름을 입력해주세요.');
                $('#order-name').focus();
                return
            } else if (count == '') {
                alert('수량을 선택하세요.');
                $('#order-count').focus();
                return
            } else if (address == '') {
                alert('주소를 입력하세요.');
                $('#order-address').focus();
                return
            } else if (phone == '') {
                alert('전화번호를 입력하세요');
                $('#order-phone').focus();
                return
            } else if (!isCellPhone(phone)) {
                alert("휴대폰번호 입력 형식이 틀립니다. \n 010-0000-0000으로 입력해주세요")
                return
            }

            $.ajax({
                type: 'POST',
                url: '/order',
                data: {name_give: name, count_give: count, address_give: address, phone_give: phone},
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload();
                }
            })
        }

        function showOrder() {
            $.ajax({
                type: 'GET',
                url: '/order',
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        console.log(response)
                        let orders = response['orders']
                        // let num = 0
                        for (i = 0; i < orders.length; i++) {
                            // num += i;
                            makeTable(orders[i]['name'], orders[i]['count'], orders[i]['address'], orders[i]['phone'])
                        }
                    } else {
                        alert('주문에 실패했습니다.');
                    }
                }
            })
        }

        function makeTable(name, count, address, phone) {
            let tempHtml = `<tr>
                        <td>${name}</td>
                        <td>${count}</td>
                        <td>${address}</td>
                        <td>${phone}</td>
                    </tr>`;
            $('#orders-box').append(tempHtml);
        }

    </script>
</head>
<body>

<div class="all-wrap">
    <div class="img"></div>
    <div class="wrap">
        <div class="info">
            <h1><span style="font-weight: bold">2021년 달력</span></h1>
            <h5>가격: 5,000원/개</h5>
            <h6><span class="badge badge-primary">NEW</span></h6></span>

            <br>
            <p>2021년 열두 달을 한 눈에 볼 수 있는 연력입니다.</p>
            <p>
            <ul>
                <li>A3 사이즈 (접지 상태)</li>

            </ul>
            </p>
            <br>
        </div>
        <div class="rate">
            <p id="show-rate"></p>
        </div>
    </div>
</div>


<div class="input-all-group">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">주문자 이름</span>
        </div>
        <input type="text" class="form-control" id="order-name">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text">수량</label>
        </div>
        <select class="custom-select" id="order-count">
            <option selected value=""> -- 수량을 선택하세요 --</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">주소</span>
        </div>

        <input type="text" class="form-control" id="order-address">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">전화번호</span>
        </div>
        <input type="text" class="form-control" placeholder="000-0000-0000의 형태로 작성해주세요." id="order-phone">
    </div>
    <div class="order">
        <button onclick="makeOrder()" type="button" class="btn btn-primary">주문하기</button>
    </div>
</div>


<table id="orders-box" class="table">
    <tr>
        <th scope="col">이름</th>
        <th scope="col">수량</th>
        <th scope="col">주소</th>
        <th scope="col">전화번호</th>
    </tr>
    <tbody>
    <tr>
        <th scope="row">김르탄</th>
        <td>1</td>
        <td>서울시 성동구</td>
        <td>010-0000-0000</td>
    </tr>
    </tbody>
</table>

</body>
</html>